@page "/02/CounterPlus"
@rendermode InteractiveServer
<h3>CounterPlus</h3>

<div class="row gy-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">One-way binding </div>
            <div class="card-body">
                <p class="text-muted">Shows value of <code>Count</code>. Cannot be edited.</p>
                <label for="countDisplay" class="form-label">current value</label>
                <input id="countDisplay" class="form-control" value="@Count" readonly>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <p class="text-muted">Change in input updates <code>Count</code> directly</p>
                <label for="countEdit" class="form-label">Edit count</label>
                <InputNumber id="countEdit" @bind-Value="Count" class="form-control"/>
                <small class="text-muted">Try changing the number here</small>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Step</div>
            <div class="card-body">
                <p class="text-muted">Decide how much the button increases/decreases value</p>
                <div class="input-group">
                    <span class="input-group-text">Step</span>
                    <InputNumber id="stepInput" @bind-Value="Step" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Event handling</div>
            <div class="card-body d-flex gap-2 flex-wrap">
                <button class="btn btn-outline-primary" @onclick="Increment">+ @Step</button>
                <button class="btn btn-outline-danger" @onclick="() => Count += Step">+ (Lambda)</button>
                <button class="btn btn-outline-primary" @onclick="Decrement">- @Step</button>
                <button class="btn btn-outline-danger" @onclick="() => Count -= Step">- (Lambda)</button>
                <button class="btn btn-outline-warning ms-auto"  @onclick="Reset">Reset</button>
            </div>
        </div>
    </div>
</div>
@code {
    private int Count { get; set; }
    private int Step { get; set; }

    private void Increment() => Count += Step;
    private void Decrement() => Count -= Step;
    private void Reset()
    {
        Count = 0;
        Step = 1;
    }

}